{% extends 'base.html.twig' %}
{% block body %}
    <div class="container containerBody">
        {% block menu %} {% include ':default/partials:_menu.html.twig' %} {% endblock %}
        {% block header %} {% include ':default/partials:_header.html.twig' %} {% endblock %}

        {% block page %} {% endblock %}

        {% block footer %} {% include ':default/partials:_footer.html.twig' %} {% endblock %}
    </div>
{% endblock %}
