<!-- Header -->
<section id="HeaderTop">
    <div class="row clearfix HeaderTop">
        <div class="col-md-7 col-md-offset-0">
            <h3>КОМУНАЛЬНЕ НЕКОМЕРЦІЙНЕ ПІДПРИЄМСТВО</h3>
            <h2>“П’ЯТИЙ ЧЕРКАСЬКИЙ МІСЬКИЙ ЦЕНТР МЕДИКО-САНІТАРНОЇ ДОПОМОГИ”</h2>
            <h3>ЧЕРКАСЬКОЇ МІСЬКОЇ РАДИ</h3>
        </div>
        <div class="col-md-2 col-md-offset-0">
            <img src="{{ asset('bundles/app/images/header/medals_sm.png') }}" alt="Clinic" class="s-hide medals"/>
        </div>
        <!--<div class="col-md-3 col-md-offset-0">-->
        <!--<img src="img/gram1.jpg" alt="Clinic" class="img-responsive img-rounded gram"/>-->
        <!--<img src="img/gram2.jpg" alt="Clinic" class="img-responsive img-rounded gram"/>-->
        <!--<img src="img/gram3.jpg" alt="Clinic" class="img-responsive img-rounded gram"/>-->
        <!--</div>-->
        <div class="s-hide col-md-3 col-md-offset-0">
            <p class="h-text">Адресса: 18029 м. Черкаси,</p>
            <p class="h-text"> вул. 30 років Перемоги, 20</p>
            <p class="h-text">тел./факс(0472)66-08-94; 66-37-74</p>
            <p class="h-text"><b>тел.(0472) 66-88-33</b></p>
            <p class="h-text">E-mail: clinica5@medicine.ck.ua</p>
        </div>
    </div>
</section>
<!-- Header -->
