<!-- Header -->
<section id="HeaderTop">
    <div class="row clearfix HeaderTop">
        <div class="col-md-9 col-md-offset-0">
            <h3>КОМУНАЛЬНЕ НЕКОМЕРЦІЙНЕ ПІДПРИЄМСТВО</h3>
            <h2>“П’ЯТА ЧЕРКАСЬКА МІСЬКА ПОЛІКЛІНІКА”</h2>
            <h3>ЧЕРКАСЬКОЇ МІСЬКОЇ РАДИ</h3>
            <!--<img src="img/gram1.jpg" alt="Clinic" class="img-responsive img-rounded gram1 s-hide"/>-->
            <!--<img src="img/gram2.jpg" alt="Clinic" class="img-responsive img-rounded gram2 s-hide"/>-->
        </div>
        <!--<div class="col-md-3 col-md-offset-0">-->
        <!--<img src="img/gram1.jpg" alt="Clinic" class="img-responsive img-rounded gram"/>-->
        <!--<img src="img/gram2.jpg" alt="Clinic" class="img-responsive img-rounded gram"/>-->
        <!--<img src="img/gram3.jpg" alt="Clinic" class="img-responsive img-rounded gram"/>-->
        <!--</div>-->
        <div class="col-md-3 col-md-offset-0">
            <p class="h-text">Адресса: 18029 м. Черкаси,</p>
            <p class="h-text"> вул. 30 років Перемоги, 20</p>
            <p class="h-text">тел./факс(0472)66-08-94; 66-37-74</p>
            <p class="h-text"><b>тел.(0472) 66-88-33</b></p>
            <p class="h-text">E-mail: clinica5@medicine.ck.ua</p>

        </div>
    </div>
</section>
<!-- Header -->
