{% extends "SonataAdminBundle::standard_layout.html.twig" %}

{% block side_bar_after_nav %}
    <p class="text-center small" style="border-top: 1px solid #444444; padding-top: 10px"><a href="#" rel="noreferrer" target="_blank">Розробник Мушкін Віталій</a></p>
{% endblock %}

{% block sonata_sidebar_search %}
{% endblock %}

{% block sonata_page_content_nav %}
{% endblock %}

{% block stylesheets %}
    {{  parent() }}
{% endblock %}
