.body-img-gallery{
    width: 200px;
    margin: 10px;
}

.body-gallery{
    text-align: center;
}

.body-title {
    background-color: #4a7f9c;
    padding: 12px;
    margin-left: -10px;
    margin-right: -15px;
    margin-top: 0;
    font-family: "RobotoLight", sans-serif;
    color: #f5f5f5;
    text-align: center;
}

.body-title-employees {
    font-family: "RobotoLight", sans-serif;
    color: #4a7f9c;
}

.body-employees {
    font-weight: bold;
    font-family: "RobotoLight", sans-serif;
    margin-bottom: 10px;
}

.body-main-text{
    font-family: "RobotoCondensedLight", sans-serif;
    font-size: medium;
    border: solid 1px #79b7e7;
    padding: 1%;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.body-main-text h3{
text-align: center;
}

.body-appointment{
    width: 100%;
    height: 600px;
}

.body-section {
    margin-top: 10px;
    color: #00244c;
    background-color: #cce3f0;
    padding: 10px;
    font-family: "RobotoLight", sans-serif;
    text-align: left;
    list-style-type: none;
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}

.body-section li a{
    color: #003d4e;
    display: block;
}

.body-section li a b{
    color: #00244c;
}

.body-section a{
    color: #00244c;
}

.body-section:hover{
    background-color: #6dcbca;
    color: #f5f5f5;
}

.body-text{
    background-color: #f5f5f5;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "RobotoCondensedLight", sans-serif;
    color: #101010;
    text-align: justify;
}

.body-img-l{
    float: left;
    width: 200px;
    margin-right: 10px;
}

.body-img-r{
    float: right;
    width: 200px;
    margin-left: 10px;
}

.body-img-publ-l{
    float: left;
    margin-right: 10px;
}

.sections-level{
    background-color: #E27689;
    padding: 10px;
    font-family: "RobotoLight", sans-serif;
    color: #f5f5f5;
    text-align: center;
}

.section{
    width: 30%;
    height: 150px;
    background-color: #85bfaa;
    margin: 15px;
}

.app-table{
    width: 100%;
    border: 1px solid #126f58;
    background-color: #d6fdf1;
    font-family: "RobotoBold", sans-serif;
    color: #1a1a1a;
}

.bg{
    background-color:#b0fde2;
    padding: 5px;
}

.bg2{
    background-color: #75a896;
    padding: 5px;
}

.body-contacts-text{
    font-family: "RobotoCondensedLight", sans-serif;
    font-size: medium;
    text-align: center;
    border: solid 1px #79b7e7;
    padding: 1%;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
}
