{% extends ":default:index.html.twig" %}

{% block page %}

<!-- BODY -->
<section id="Body">
    <div class="row clearfix body-text">
        <h3 class="body-title">Графіки прийому поліклініки</h3>

        <iframe class="body-appointment" src="https://docs.google.com/document/d/1IKNHgOe84dnKw_Osh3H1kzj4Tj80PnNdL0Gj1fTyKgA/pub?embedded=true"></iframe>

    </div>
</section>
<!-- /BODY -->

{% endblock %}