{% extends ":default:index.html.twig" %}

{% block page %}

<!-- BODY -->
<section id="Body">
    <div class="row clearfix body-text">
        <h3 class="body-title">Графіки прийому поліклініки</h3>
        <iframe class="body-appointment" src="https://docs.google.com/spreadsheets/d/13XgXmCl9GliIeHOL9cRkaETSr50N6uwqwRNUpxIqUsQ/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
    </div>
</section>
<!-- /BODY -->

{% endblock %}