{% extends ":default:index.html.twig" %}

{% block page %}

<!-- BODY -->
<section id="Body">
    <div class="row clearfix body-text">
        <h3 class="body-title">Публічні гроші</h3>
		<iframe  class="body-appointment" src="https://docs.google.com/document/d/1A2pwS8isZNgV5z_laCLIy8S0-Mvf7tUAGt75TExlEM0/pub?embedded=true"></iframe>
		
		<iframe class="body-appointment" src="https://docs.google.com/document/d/1rEfxy0jz5QSX9867H_hssiGENze3tF2nSzDMHsX-1Nc/pub?embedded=true"></iframe>
		
		<iframe class="body-appointment"  src="https://docs.google.com/spreadsheets/d/1GwylZmhPbgzbtEbxn1gm9d2yq-uBCF4qriOC0b-dBY8/pubhtml?widget=true&amp;headers=false"></iframe>
    </div>
</section>
<!-- /BODY -->

{% endblock %}