{% extends ":default:index.html.twig" %}

{% block page %}

<!-- BODY -->
<section id="Body">
    <div class="row clearfix body-text">
        <h3 class="body-title">Публічні гроші</h3>
        <iframe class="body-appointment" src="https://docs.google.com/document/d/1u_gno9jz-fi_HJrObFkz8GIZffqNxBV8VcPKOgrwrfg/pub?embedded=true"></iframe>
    </div>
</section>
<!-- /BODY -->

{% endblock %}