{% extends ":default:index.html.twig" %}

{% block page %}

<!-- BODY -->
<section id="Body">
    <div class="row clearfix body-text">
        <h3 class="body-title">Контакти поліклініки</h3>
        <div class="body-contacts-text col-lg-10 col-lg-offset-0 body-text">
            <span><b>Поліклініка працює:</b></span><br/>
            <span><b>пн-пт: </b></span>&nbsp;&nbsp; 8.00 – 19.00<br/>
            <span><b>сб: </b></span>&nbsp;&nbsp; 9.00-18.00<br/>
            <span><b>нд: </b></span>&nbsp;&nbsp; 9.00-13.00<br/>
            <br/>
            <span><b>Адресса:</b></span>   Україна, 18029, м. Черкаси,
            вул. 30 років Перемоги, 20<br/><br/>
            <b>Тел./факс:</b>   (0472) 66-08-94; (0472) 66-37-74<br/><br/>
            <b>Телефон приймальні головного лікаря:</b>   (0472) 66-88-33<br/><br/>
            <span><b>E-mail:</b></span>   clinica5@medicine.ck.ua<br/><br/><br/>
            <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=0-vdLRC48h6WOppG7paTjz8jHpWRVtvf&amp;width=100%&amp;height=450"></script>
        </div>
    </div>
</section>
<!-- /BODY -->

{% endblock %}