{% extends ":default:index.html.twig" %}

{% block page %}

<!-- BODY -->
<section id="Body">
    <div class="row clearfix body-text">
        <h3 class="body-title img-rounded">Контакти поліклініки</h3>

    </div>
</section>
<!-- /BODY -->

{% endblock %}