{% extends ":default:index.html.twig" %}

{% block page %}

    <!-- BODY -->
    <section id="Body">
        <div class="row clearfix body-text">
            <h3 class="body-title">Доступні ліки</h3>

            <iframe class="body-appointment" src="https://docs.google.com/document/d/1Rksfnz8ep9zMs3_f6v1aJKDSGLM_a7WTEE6Vdc5K79g/pub?embedded=true"></iframe>

            <iframe class="body-appointment" src="https://drive.google.com/file/d/0BzPpuo57274sV2tVUFhsZTFmazg/preview" width="640" height="480"></iframe>

            <iframe class="body-appointment" src="https://drive.google.com/file/d/0BzPpuo57274sWnJwYzFzQzlxNkE/preview" width="640" height="480"></iframe>
        </div>
    </section>
    <!-- /BODY -->

{% endblock %}