{% extends ":default:index.html.twig" %}

{% block page %}

<!-- BODY -->
<section id="Body">
    <div class="row clearfix body-text">
        <h3 class="body-title">Історія поліклініки</h3>
        <div class="body-main-text">
            <img src="{{ asset('bundles/app/images/pol5-s250.jpg') }}" alt="Clinic" class="img-responsive body-img-l"/>

            <p>&nbsp;&nbsp;&nbsp;&nbsp;П’ята Черкаська міська поліклініка відкрита в 1992 році на чолі з головним лікарем Бассараб Олександром Михайловичем.</p>

            <p>&nbsp;&nbsp;&nbsp;&nbsp; З 01.02.2007 року закладом, що акредитований на вищу категорію керує Микола Володимирович Тарасов, який  до цього часу працював у Черкаській обласній лікарні -  анестезіологом.</p>

            <p>&nbsp;&nbsp;&nbsp;&nbsp; У  серпні 2008 року Черкаська міська поліклініка № 5   була реорганізована в комунальне некомерційне підприємство.</p>

            <img src="{{ asset('bundles/app/images/body4.jpg') }}" alt="Clinic" class="img-responsive body-img-r"/>

            <p>&nbsp;&nbsp;&nbsp;&nbsp;КНП «П’ята  Черкаська міська поліклініка» ЧМР надає медико-санітарну допомогу 40 тисячам мешканцям Південно-західного району міста Черкас.</p>

            <p>&nbsp;&nbsp;&nbsp;&nbsp;Напрямок діяльності поліклініки: надання амбулаторно–поліклінічної та первинної медико–санітарної допомоги населенню.</p>
        </div>
    </div>
</section>
<!-- /BODY -->

{% endblock %}