{% extends ":default:index.html.twig" %}

{% block page %}

<!-- BODY -->
<section id="Body">
    <div class="row clearfix body-text">
        <h3 class="body-title">Публікації поліклініки</h3>
        <div class="body-main-text">
            {% for publication in publications %}
                <nav>
                    <ul class="body-section img-rounded">
                        <li>
                            {% if publication.mainPicture %}
                                {% media publication.mainPicture, 'small' with {'class': 'body-img-publ-l img-rounded'} %}
                            {% endif %}
                            <a href="{{ path('publication', {'slug':publication.slug}) }}"><b>{{ publication.title }}</b><br/><small><i>{{ publication.shortDescription }}...</i></small></a>
                        </li>
                    </ul>
                </nav>
            {% endfor %}
        </div>

    </div>
</section>
<!-- /BODY -->
{% endblock %}