{% extends ":default:index.html.twig" %}

{% block page %}

<!-- BODY -->
<section id="Body">
    <div class="row clearfix body-text">
        <h3 class="body-title">Відділеня поліклініки</h3>
        <div class="body-main-text">
            {% for section in sections %}
                <nav>
                <ul class="body-section">
                    <li>
                        {% if section.mainPicture %}
                            {% media section.mainPicture, 'small' with {'class': 'body-img-publ-l'} %}
                        {% endif %}
                        <a href="{{ path('section', {'slug':section.slug}) }}"><b>{{ section.title }}</b><br/><small><i>{{ section.shortDescription }}...</i></small></a>
                    </li>
                </ul>
                </nav>
            {% endfor %}
        </div>
    </div>
</section>
<!-- /BODY -->

{% endblock %}