{% extends ":default:index.html.twig" %}

{% block page %}

<!-- BODY -->
<section id="Body">
    <div class="row clearfix body-text">
        <h3 class="body-title">Відділеня поліклініки</h3>
        <div class="body-main-text">
            {% for section in sections %}
                <div class="body-section img-rounded">
                    <a href="{{ path('section', {'slug':section.slug}) }}">{{ section.title }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- /BODY -->

{% endblock %}