{% extends ":default:index.html.twig" %}

{% block page %}

<!-- BODY -->
<section id="Body">
    <div class="row clearfix body-text">
        <h3 class="body-title">Послуги</h3>
        <div class="body-main-text">
            <img src="{{ asset('bundles/app/images/some/beauty.jpg') }}" alt="П’ята Черкаська міська поліклініка" class="img-responsive img-rounded s-hide body-img-r"/>
                <p>В поліклініці Ви маєте можливість отримати наступні послуги:</p>

                <strong>Рентгенологічне відділення:</strong>

                <ul>
                    <li>рентгенографічне обстеження;</li>
                    <li>флюорографія органів грудної клітки.</li>
                </ul>


                <strong>Кабінет ультразвукового дослідження:</strong>


                <ul>
                    <li>органів черевної порожнини (печінка, жовчний міхур, підшлункова залоза, селезінка);</li>
                    <li>нирок, сечового міхура, передміхурової залози;</li>
                    <li>щитоподібної залози;</li>
                    <li>молочних залоз;</li>
                    <li>матки, додатків;</li>
                    <li>поверхневих утворень (ліпоми, атероми і інше).</li>
                </ul>

                    <strong>Аудіометричне обстеження.</strong>
                    <strong>Проводиться забір венозної крові та доставка її для обстеження:</strong>

                <ul>
                    <li>на ВІЛ;</li>
                    <li>на гепатити А, С;</li>
                    <li>на RW.</li>
                </ul>

                <strong>В кабінеті функціональної діагностики проводиться:</strong>

                <ul>
                    <li>спірографічне обстеження органів дихання;</li>
                    <li>визначення функції зовнішнього дихання;</li>
                    <li>електрокардіографічне обстеження (ЕКГ);</li>
                    <li>добове моніторування ЕКГ (холтерівське моніторування).</li>
                </ul>

                <p><strong>В клініко-діагностичній лабораторії проводять:</strong></p>

                <p>Печінкові проби:</p>

                <ul>
                    <li>білірубін;</li>
                    <li>тимолова проба;</li>
                    <li>аланінамінотрансфераза (АЛТ);</li>
                    <li>аспартатамінотрансфераза (АСТ);</li>
                    <li>лужна фосфатаза;</li>
                    <li>альфа - амілаза/</li>
                </ul>

                <p>Ниркові проби:</p>

                <ul>
                    <li>сечовина;</li>
                    <li>креатинин.</li>
                </ul>

                <p>Ревмопроби:</p>

                <ul>
                    <li>загальний білок;</li>
                    <li>сероглікоїди;</li>
                    <li>С-реактивний білок;</li>
                    <li>ревматоїдний фактор;</li>
                    <li>антистрептолізини-О;</li>
                    <li>сечова кислота.</li>
                </ul>

                <p>Клінічні дослідження:</p>

                <ul>
                    <li>загальний аналіз крові з підрахунком лейкоцитарної формули та тромбоцитів;</li>
                    <li>LE клітини (клітини червоного вовчака);</li>
                    <li>загальний аналіз сечі з мікроскопічним дослідженням осаду;</li>
                    <li>кетонові тіла;</li>
                    <li>дослідження сечі за Зимницьким;</li>
                    <li>дослідження сечі за Нечипоренком;</li>
                    <li>визначення білка Бенс-Джонса;</li>
                    <li>загальний аналіз харкотиння та мікобактерій туберкульозу;</li>
                    <li>дослідження виділень сечо-статевих органів на трихомонади та патогенну флору;</li>
                    <li>дослідження виділень передміхурової залози;</li>
                    <li>дослідження шлункового вмісту;</li>
                    <li>дослідження жовчі;</li>
                    <li>дослідження калу на яйця гельмінтів та найпростіших;</li>
                    <li>копроскопічне дослідження калу;</li>
                    <li>дослідження виділень з носа на кількість еозинофілів;</li>
                    <li>дослідження на малярію.</li>
                </ul>

            <p>Та інші:</p>

            <ul>
                <li>Кальцій;</li>
                <li>Залізо;</li>
                <li>Загальний холестерин;</li>
                <li>В-ліпопротеїди;</li>
                <li>Кріоглобулін;</li>
                <li>Протромбіновий індекс;</li>
                <li>Час згортання крові;</li>
                <li>Час кровотечі;</li>
                <li>Коагулограма;</li>
                <li>Група крові та резус-фактор;</li>
                <li>Експрес - визначення сифілісу (РМП).</li>
            </ul>

            <strong>В поліклініці надаються платні послуги:</strong>

                <ul>
                    <li>медогляд громадян для отримання виїзної візи;</li>
                    <li>медогляд громадян для отримання дозволу на право отримання та носіння зброї;</li>
                    <li>медогляд стажованих водіїв та кандидатів у водії автотранспорту;</li>
                    <li>медогляд працівників з нормальними умовами праці (попередні періодичні);</li>
                    <li>медогляд працюючих в шкідливих умовах праці (попередні і періодичні).</li>
                </ul>
        </div>
    </div>
</section>
<!-- /BODY -->

{% endblock %}